body{
    width: 80%;
    margin: auto;
    background: rgb(246, 250, 138);
}

/* h2{
    color: rgba(7, 7, 7, 0.937);
}
.Ar{
    background-color: rgb(91, 202, 91);
}
.us{
    background-color: rgb(241, 37, 10);
}
.fr{
    background-color: rgb(16, 129, 241);
} */