body{
    width: 80%;
    margin: auto;
    background: rgb(246, 250, 138);
}

/* h2{
    color: rgba(7, 7, 7, 0.937);
}
.Ar{
    background-color: rgb(91, 202, 91);
}
.us{
    background-color: rgb(241, 37, 10);
}
.fr{
    background-color: rgb(16, 129, 241);
} */

.dateFrlong{
    /* display: inline-block; */
    position: fixed;
    left: 10rem;
    /* top: 1rem; */
    margin-top: .5rem;
    font-family: cursive;
    font-size: 1.5rem;
}

/* CLOCK */
/*   together    */
#clock{
    width: 9rem;
    height: 2rem;
    border: 2px solid white;
    float: right;
    background-color: black;
    color: white;
    font-family: 'algerian';
    font-size: 2rem;
    text-align: center;
    padding-bottom: .5rem;
   
}
.sep{
    clear: both;
    width: 100%;
    height: 1rem;
    background-color: green;
   
}
/*   both      */
