

.cta{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
}
#frmUser{
    width: 50%;
}

/* #frmUser label , input{
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
  } */