body{
    width: 80%;
    margin: auto;
    background: rgb(246, 250, 138);
}
/*   together    */
#clock{
    width: 13rem;
    height: 5rem;
    border: 2px solid red;
    float: right;
    background-color: black;
    color: silver;
    font-family: 'algerian';
    font-size: 3rem;
    text-align: center;
   
}
.sep{
    clear: both;
    width: 100%;
    height: 1rem;
    background-color: green;
   
}
/*   both      */



h2{
    color: rgba(7, 7, 7, 0.937);
}
.Ar{
    background-color: rgb(91, 202, 91);
}
.us{
    background-color: rgb(241, 37, 10);
}
.fr{
    background-color: rgb(16, 129, 241);
}